@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #BBE2EC;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}

.container .card{
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    border-radius: 40px;
    box-shadow: inset -6px -6px 20px rgba(255,255,255,1),
                inset 6px 6px 20px rgba(255,255,255,1);
}

.container .card:hover{
    box-shadow: inset -6px -6px 20px rgba(255,255,255,0.5),
                inset 6px 6px 20px rgba(255,255,255,0.005);
}

.container .card .imgBx {
    position: relative;
    text-align: center;
}

.container .card .imgBx img{
    max-width: 120px;
}

.container .card .contentBx{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.container .card .contentBx h2{
    color: #365486;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1.5px;
}

.container .card .contentBx p{
    color: #7C93C3;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #365486;
    font-size: 16px;
    text-decoration: none;
    box-shadow: inset -4px -4px 15px rgba(255,255,255,0.5),
                inset 4px 4px 15px rgba(0,0,0,0);   
}

.container .card .contentBx a:hover{
    display: block;
    transform:  scale(0.98);
}

.container .card:hover .imgBx,
.container .card:hover .contentBx{
    transform: scale(0.98);
}
